---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Search from "../components/Search.astro";
const allPosts = await getCollection('recipes')
---

<Layout title="Katchup Kitchen">
	  <main>
        <section class="start">
            <h1 data-pagefind-ignore>Welcome to My Recipe Site</h1>
            <p data-pagefind-ignore>Discover a world of culinary delights with our recipe website.</p>
        </section>

        <Search />

        <section>
            <h2 data-pagefind-ignore>Explore Diverse Cuisines</h2>
            <p data-pagefind-ignore>From Italian pasta to Japanese sushi, my site features a wide range of international recipes to satisfy your taste buds.</p>
        </section>

        <section class="end">
            <h2 data-pagefind-ignore>Cook Like a Pro</h2>
            <p data-pagefind-ignore>Step-by-step instructions, ingredient lists, and cooking tips make it easy for you to create restaurant-quality dishes at home.</p>
        </section>
    </main>
</Layout>

<style>
	p{
		text-align: center;
	}
	section{
		margin: 20px;
	}
    .start{
        margin-top: 0;
    }

    .end{
        margin-bottom: 40px;
    }
</style>
