---
---


<footer class="flex justify-center items-center fixed bottom-0 w-full h-12 bg-gray-800 text-white">
  <p>© 2023 Nicholas Rosdahl. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: var(--background);
    color: var(--text);
  }
</style>