<div id="scroll-to-top">
    <a href="#top">↑</a>
</div>





<script>
    document.addEventListener('astro:after-swap', () => {
const scrollToTopButton = document.getElementById('scroll-to-top');

window.addEventListener('scroll', () => {
 if (window.scrollY > 100) {
   scrollToTopButton.style.display = 'block';
 } else {
   scrollToTopButton.style.display = 'none';
 }
});

scrollToTopButton.addEventListener('click', () => {
 window.scrollTo({ top: 0, behavior: 'smooth' });
});

    });



    const scrollToTopButton = document.getElementById('scroll-to-top');

window.addEventListener('scroll', () => {
 if (window.scrollY > 100) {
   scrollToTopButton.style.display = 'block';
 } else {
   scrollToTopButton.style.display = 'none';
 }
});

scrollToTopButton.addEventListener('click', () => {
 window.scrollTo({ top: 0, behavior: 'smooth' });
});

</script>

<style>
#scroll-to-top {
 position: fixed;
 margin-bottom: 10px;
 bottom: 25px;
 left: 25px;
 background-color: var(--primary);
 color: var(--text);
 border: 2px solid var(--primary);
 border-radius: 50%;
 padding: 10px 25px;
 font-size: 25px;
 cursor: pointer;
 display: none;
}

#scroll-to-top a {
 text-decoration: none;
 color: inherit;
}


</style>
