---
import Layout from '../layouts/Layout.astro';
import Back from '../components/Back.astro';
import Scroll from '../components/ScrollTop.astro';
// import { Image } from 'astro:assets';
const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
    <Back />
    <article class="text-center flex flex-col">
         <img class="self-center" src={frontmatter.image.url} width="500" height="500" alt={frontmatter.image.alt} />
    {/*
        <button id="saveButton"> save to favorites</button>
    */}
    <slot />
    </article>
    <Scroll />
</Layout>


<style> 
  article :global(h1){
        padding: 15px;
        margin: 10px;
        font-size: 30px;
    }
    article :global(h2){
        font-size: 25px;
        margin: 20px;
    }
    article :global(p){
        text-align: center;
    }
    article :global(ol){
        list-style: none; /* Remove default list styles */
  counter-reset: item; /* Reset the counter for list items */
        border: 3px solid var(--primary);
        margin: auto;
        margin-bottom: 50px;
        width: 60%;
    }
    article :global(ol li){
        padding: 10px;
    }
    article :global(ol li)::before{
        content: counter(item); /* Use the counter value for list markers */
    counter-increment: item; /* Increment the counter value */
    color: var(--accent);
    
    }
    article :global(ul){
        border: 3px solid var(--primary);
      padding: 0;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 50%;
      margin: auto;
    }
    article :global(ul li){
        padding: 4px;
        align-self: start;
        text-align: start;
    }
    article :global(ul li)::before{
        content: "\2022";
        color: var(--accent);
        padding: 4px;
        align-self: flex-start;
        text-align: flex-start;
    }

</style>